.red{
  color: red;
}
.yellow{
  color: #E4CD05;
}
.purple{
  color: #675193;
}

.orange{
  color: #ca8861;
}
  h1 {
  font-family: 'Pridi', serif;
  }

h2{
  font-family: 'Kanit', sans-serif;
  font-size: 23;
}



li {
  font-family: 'Kanit', sans-serif;
  font-size:19 ;

}

  body {
    background-color: lightgray;
}

p {
  font-family: 'Kanit', sans-serif;
  font-size: 22;
}
ul {
  font-family: 'Kanit', sans-serif;
  font-size: 22;
}
li {
  font-family: 'Kanit', sans-serif;
  font-size: 22;
}
.page {
    width: 1000px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}
  
  .green {
    text-align: center;
    background-color: green;
    background-image: linear-gradient(to right, lightgreen, green);
  }
  .silver {
    text-align: center;
    background-color: lightgrey;
  }
  .page1{    
       background-color: white;   
       margin: auto;
    }
  .page2{    
       background-color: white;   
       margin: auto;
    }

    .vis-container{
      width: 90%;
    }
    .description h2, h1{
      margin-top:0px;
    }
    .description-right {
      padding-top: 20px;
      padding-left: 20px;
    }
    .description-left{
      padding-top: 20px;
      padding-right: 20px;
    }
    .pure-g{
      margin-bottom: 25px;
    }
    .small-font{
        font-size: 14px;
    }
  
  .hr3 {
      border: 0;
      height: 2px;
      background-image: linear-gradient(to right, transparent, #DDD, transparent);
      padding-top: 5px;
  }
  
  p.ex1 {
      padding-right: 800px;
    }